/*Universal Styles*/
body {
    color: #010224;
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0px;
    font-weight: 300;
}
h1 h2 h3 {
    font-family: 'Poppins', sans-serif;
}

/*Nav Menu Mobile*/
@media only screen and (max-width: 800px) {
    .nav {
        overflow: hidden;
        position: fixed;
        width: 100%;
        z-index: 1;
    }
    .nav #myLinks {
        display: none;
    }
    .nav a{
        background-color: #010224;
        color:white;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 16px;
        display: block;
    }
    .nav a.icon {
        background-color:#010224;
        color:white;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
    }
    #myLinks a:hover {
        color: #57F1B1;
        cursor: pointer;
    }
    .active {
        font-weight: lighter;
    }
    .active:hover {
        color:#57F1B1;
        cursor: pointer;
    }
    .fa:hover {
        color:#57F1B1;
        cursor: pointer;
    }
}
/*Nav Menu-Tablet & Desktop*/
@media only screen and (min-width: 801px) {
    .nav {
        background-color: #010224;
        color: white;
        display: flex;
        width: 100%;
        justify-content: space-between;
        position: fixed;
        z-index: 1;
    }
    .active {
        color: white;
        font-size: 18px;
        padding: 15px;
    }
    .active:hover {
        color:#57F1B1;
        cursor: pointer;
    }
    .nav a{
        text-decoration: none;
        text-align: right;
        font-size: 18px;
    }

    #myLinks {
        display: flex;
    }
    #myLinks a{
        padding: 15px;
        color: white;
    }
    #myLinks a:hover {
        color:#57F1B1;
        cursor: hover;
    }
    .icon {
        display: none;
    }
}
/* Site Content Styles */
h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: lighter;
    letter-spacing: .08em;
    font-size: 3.75em;
    text-align: center;
}
h2 {
    font-size: 2.25em;
    text-align: center;
}
h3 {
    font-weight: 600;
    font-size: 1.5em;
    text-transform: uppercase;
}
h4 {
    text-transform: uppercase;
    letter-spacing: .10em;
    font-size: 1.5em;
}
.logo {
    width: 25px;
    padding: 2px;
}
section.banner {
    background-color: #57F1B1;
    padding: 60px 15px;
}
section {
    padding: 15px;
}
.bio {
    line-height:2em;
    margin: 0px 50px;
}
.card {
    padding-bottom: 20px;
    text-align: center;
}
.profile-pic{
    width: 250px;
}
.mobile-profile-pic {
    display:none;
}
.button {
   text-align: center;
   background-color: #010224;
   color: white;
   padding: 20px;
   text-transform: uppercase;
}
button {
    border-radius: 10px;
    background-color: white;
    background-color: #57F1B1;
    border: 2px solid #010224;
    padding: 15px;
    color: #010224;
    letter-spacing: .10em;
    min-width: 40%;
    font-size: 1em;
}
button:hover {
    background-color:#010224;
    color:#57F1B1;
    border: 2px solid #57F1B1;
    cursor: pointer;
    transition: 0.3s ease-in;
}
/* Project Cards*/
#all-projects {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    position: relative;
    margin: 15px;
}
.image {
    width: 300px;
    border-radius: 15px;
}
.overlay {
    position: absolute;
    border-radius: 15px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    opacity: 0;
    transition: 0.5s ease;
    background-color:#010224;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.container:hover .overlay {
    opacity: 0.80;
    cursor: pointer;
}
.details {
    color: white;
    position: absolute;

}
.project-button {
    background-color:white;
    border: none ;
    color:#010224;
}
.project-button:hover{
    background-color:#010224;
    color:white;
    border: 1px solid white;
    transition: 0.3s ease-in;
    cursor: pointer;
}
h5 {
    text-transform: uppercase;
    letter-spacing: 0.5em;
    font-size: 1em;
}
footer {
    background-color: #010224;
    padding: 20px;
    color: white;
    display: flex;
    font-size: 18px;
}
.nav-foot {
    display: flex;
}
.nav-foot a{
    padding-right: 15px;
}
footer a{
    text-decoration: none;
}
.nav-foot a:hover {
    color:#57F1B1;
    cursor: pointer;
}
footer a:visited {
    color: white;
}

/*Media Query - tablet*/
@media only screen and (min-width: 750px) {
    h1 {
        font-size: 4.5em;
    }
    h2 {
        font-size: 2.75em;
    }
    .total-projects {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
}
/*Media Query - computer screen*/
@media only screen and (min-width: 1000px) {
    #about {
        display: flex;
        align-items:initial;
        justify-content: space-evenly;
    }
    .bio{
        width: 60%;
    }
    .skills {
        width: 30%;
        border: solid 2px #010224;
        line-height: 1em;
    }
    .profile-pic {
        display: none;
    }
    .mobile-profile-pic {
        display:block;
        width: 250px;
    }
    .button {
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
    }
}

/*Contact Page*/
.contact-links {
    margin-bottom: 20px;
}
.contact-links a{
    text-decoration: none;
}
.contact-links a:visited {
    color: #010224;
}
.contact-links a:hover {
    color: #57F1B1;
    font-weight: bold;
}
#contact {
    padding: 20px;
    text-align: center;
    line-height: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact-pic {
    display:block;
    width: 250px;
}

