body {
    color: #010224;
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0px;
    font-weight: 300;
}
h1 h2 h3 {
    font-family: 'Poppins', sans-serif;
}
.nav {
    overflow: hidden;
    position: relative;
}
.nav #myLinks {
    display: none;
}
.nav a{
    background-color: #010224;
    color:white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16px;
    display: block;
}
.nav a.icon {
    background-color:#010224;
    color:white;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}
#myLinks a:hover {
    color: #57F1B1;
}

.active {
    letter-spacing: .15em;
    font-weight: lighter;
}
.active:hover {
    color:#57F1B1;
}
.fa:hover {
    color:#57F1B1;
}
h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: lighter;
    letter-spacing: .08em;
    font-size: 3.75em;
    text-transform: uppercase;
}
h2 {
    font-size: 2.25em;
}
h3 {
    font-weight: 600;
    font-size: 1.5em;
    text-transform: uppercase;
}
h4 {
    text-transform: uppercase;
    letter-spacing: .10em;
    font-size: 1.5em;
}

.logo {
    width: 25px;
    padding: 2px;
}
.socials {
    display:flex;
    justify-content:flex-start;
}

section.banner {
    background-color: #57F1B1;
}
section {
    padding: 15px;
}
hr {
    margin: 30px;
}
.bio {
    line-height:2em;
    margin: 0px 50px;
}
.card {
    padding-bottom: 20px;
    text-align: center;
}
.profile-pic{
    width: 250px;
}
.mobile-profile-pic {
    display:none;
}
.button {
   text-align: center;
   background-color: #010224;
   color: white;
   padding: 20px;
   text-transform: uppercase;
}
button {
    border-radius: 10px;
    background-color: white;
    background-color: #57F1B1;
    border: 2px solid #010224;
    padding: 15px;
    color: #010224;
    letter-spacing: .10em;
    min-width: 40%;
    font-size: 1em;
}
button:hover {
    background-color:#010224;
    color:white;
    border: 2px solid white;
}
.all-projects {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.project {
    border-radius:15px;
    background-color: pink;
    padding: 10px 20px;
    margin-bottom: 15px;
    height: 300px;
    text-align: left;
    max-width: 400px;
    align-self: center;
}

.gary {
    background: linear-gradient(to bottom, rgba(255, 253, 253, 1), rgba(1, 2, 36, .25)), url(images/bikes.jpeg);
    background-position: center;
}
.hops {
    background: linear-gradient(to bottom, rgba(255, 253, 253, 1), rgba(1, 2, 36, .25)), url(images/hops-2.png);
    background-position: center;
}
.pkew {
    background: linear-gradient(to bottom, rgba(255, 253, 253, 1), rgba(1, 2, 36, .25)), url(images/pkew2.jpeg);
    background-position: center;
}
.gpo {
    background: linear-gradient(to bottom, rgba(255, 253, 253, 1), rgba(1, 2, 36, .25)), url(images/gpo-2.png);
    background-position: center;
}

footer {
    background-color: #010224;
    padding: 20px;
    color: white;
    display: flex;
}
.nav-foot {
    display: flex;
}
.nav-foot a{
    padding-right: 15px;
}
footer a{
    text-decoration: none;
}
.nav-foot a:hover {
    text-decoration: underline;
    color:#57F1B1;
}
footer a:visited {
    color: white;
}
/*Media Query - tablet*/
@media only screen and (min-width: 750px) {
    h1 {
        font-size: 4em;
    }
    h2 {
        font-size: 2.75em;
    }
    .card-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .project {
        width: 40%;
        margin: 15px;
    }
/*Media Query - computer screen*/
@media only screen and (min-width: 1000px) {
    .about {
        display: flex;
        align-items:initial;
        justify-content: space-evenly;
    }
    .bio{
        width: 60%;
    }
    .skills {
        width: 30%;
    }
    .card-container {
        display: flex;
    }
    .project {
        width: 15%;
    }
    .profile-pic {
        display: none;
    }
    .mobile-profile-pic {
        display:block;
        width: 250px;
    }
    .button {
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
    }
}