body {
    color: #010224;
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0px;
    font-weight: 300;
}
h1 h2 h3 {
    font-family: 'Poppins', sans-serif;
}
.nav {
    overflow: hidden;
    position: relative;
}
.nav #myLinks {
    display: none;
}
.nav a{
    background-color: #010224;
    color:white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16px;
    display: block;
}
.nav a.icon {
    background-color:#010224;
    color:white;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}
#myLinks a:hover {
    color: #57F1B1;
}

.active {
    letter-spacing: .15em;
    font-weight: lighter;
}
.active:hover {
    color:#57F1B1;
}
.fa:hover {
    color:#57F1B1;
}
h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: lighter;
    letter-spacing: .08em;
    font-size: 3.75em;
    text-align: right;
}
h2 {
    font-size: 2.5em;
    font-weight: lighter;
    text-align: right;
}
h3 {
    font-weight: 600;
}
h4 {
    text-transform: uppercase;
    letter-spacing: .10em;
    font-size: 1.5em;
}
hr {
    border: 0.01px solid #010224;
}
.logo {
    width: 25px;
    padding: 2px;
}
.socials {
    display:flex;
    justify-content:flex-start;
}
section.banner {
    background-color: #57F1B1;
}
section {
    padding: 15px;
}
.card {
    padding-bottom: 20px;
    text-align: center;
}
.profile-pic{
    width: 250px;
}
.button {
    align-content: center;
}
button {
    border-radius: 10px;
    background-color: white;
    border: 2px solid #010224;
    padding: 10px;
    color: #010224;
    letter-spacing: .20em;
    width: 40%;
}
button:hover {
    background-color:#010224;
    color:white;
}
.project {
    border-radius:15px;
    background-color: pink;
    padding: 10px 20px;
    margin-bottom: 15px;
    height: 300px;
    text-align: left;
}

.gary {
    background: linear-gradient(to bottom, rgba(255, 253, 253, .95), rgba(1, 2, 36, .25)), url(images/bikes.jpeg);
    background-position: center;
}
.hops {
    background: linear-gradient(to bottom, rgba(255, 253, 253, .95), rgba(1, 2, 36, .25)), url(images/hops2.jpeg);
    background-position: center;
}
.pkew {
    background: linear-gradient(to bottom, rgba(255, 253, 253, .95), rgba(1, 2, 36, .25)), url(images/pkew2.jpeg);
    background-position: center;
}
.gpo {
    background: linear-gradient(to bottom, rgba(255, 253, 253, .95), rgba(1, 2, 36, .25)), url(images/gpo.png);
    background-position: center;
}
.details {

}
footer {
    background-color: #010224;
    padding: 20px;
    color: white;
    display: flex;
}
.nav-foot {
    display: flex;
}
.nav-foot a{
    padding-right: 15px;
}
footer a{
    text-decoration: none;
}
.nav-foot a:hover {
    text-decoration: underline;
    color:#57F1B1;

}
footer a:visited {
    color: white;
}

